@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto-light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/roboto-regular.ttf) format('truetype');
}

html {
    font-family: 'Roboto', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3D92C9;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

.separator {
    position: relative;
    margin: 35px 0;
    height: 1px;
    background: #ccc;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(50%, #ccc));
}

.link {
    color: inherit;
}

/* NOTIFICATIONS */
.note {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #eee;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 2em;
    overflow-y: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    transition: opacity 2s linear;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
    display: flex;
    justify-content: center;
}

.sidebar {
    background: #333;
    color: #fff;
}

.plume-logo {
    height: 1em;
}

.blog-info {
    margin-top: 2em;
}

.blog-title,
.blog-tagline,
.blog-picture {
    margin: 0;
}
/*.blog-title {
    color: #333;
    font-weight: 300;
    padding: 0.2em;
}

.blog-tagline {
    font-weight: 300;
    color: #777;
}*/
.blog-picture {
    height: 100px;
    width: auto;
}

/* LOADING */
.loading {
    position: relative;
    padding: 50px;
}
.loading>p {
    position: relative;
    top: 50px;
    color: #777;
}
.loadingbox {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.loadingbox:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}
.loadingbox:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #B0CADB;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}
@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

/* EDITOR */
.CodeMirror, .CodeMirror-scroll {
    min-height: 200px;
}
.editor {
    padding-top: 1em;
    color: #444;
}
.editor-title {
    font-size: 2em;
    min-width: 100%;
    max-width: 100%;
    padding: 0.5em 0;
    border-radius: 3px;
    outline: none;
    border: 0;
    border-bottom: 1px dotted #ccc;
}
.editor-title:focus {
    background: #ffc;
    padding-left: 10px;
}
.editor-meta {
    padding-top: 5px;
}
.editor-tags a {
    margin-left: 5px;
    color: #ccc;
    cursor: pointer;
}
.editor-add-tag {
    width: 70px;
    border: 0;
    border-bottom: 1px dotted #777;
}
span.editor-title:empty::before {
    content: 'Title';
    color: #ccc;
}
span.editor-title:empty:focus::before {
    content: 'Title';
    color: #777;
}
a.editor-author, a.editor-author:visited {
    color: #3D92C9;
}
.editor header {
    margin-bottom: 10px;
}
.editor footer {
    margin-top: 10px;
}

.editor-body {
    margin-bottom: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #E6E6E6;
    font-size: 1em;
    min-height: 100px;
    color: #777;
}

.small {
    font-size: 50%;
}

.button-xsmall {
    font-size: 50%;
}
.button {
    display: inline-block;
    padding: 20px 10px;
    margin-right: 5px;
    background: #fff;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    color: #777;
    letter-spacing: 1px;
    line-height: 1px;
    text-transform: uppercase;
    border: 1px solid #777;
}
.success {
    background: #1CB841!important;
    color: #fff;
    border: 1px solid #1CB841;
}
.danger {
    background: #CA3C3C!important;
    color: #fff;
    border: 0;
}
.danger-text {
    color: #CA3C3C!important;
}

.clickable {
    cursor: pointer;
}

/* DROPDOWN */
.pure-menu-children {
    list-style: none;
    position: absolute!important;
    left: initial;
    top: initial;
    margin: 0;
    padding: 0;
    width: 70px;
    z-index: 3;
}
.pure-menu-has-children>.pure-menu-link:after {
    content: "\25BE";
    font-size: 80%;
    padding-left: 0.5em;
}

/* COLOR PICKER */
.color-0 { background: #999!important; }
.color-1 { background: #ffbf00!important; }
.color-2 { background: #df2d4f!important; }
.color-3 { background: #4d85d1!important; }
.color-4 { background: #5aba59!important; }
.color-5 { background: #8156a7!important; }

/* ACTION BUTTONS */

.action-button {
    background-color: #fff;
    color: #777;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 60%;
    padding: 1em 1.5em;
    text-decoration: none;
    border: 1px solid #777;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
}
.action-button:hover {
    text-decoration: none;
}
.action-button img {
    position: relative;
    height: 20px;
    top: 7px;
}

.dialog {
    width: 300px;
    position: fixed;
    padding: 2em;
    text-align: center;
    font-weight: 200;
    background: #fff;
    z-index: 10;
    top: 50%;
    left: 50%;
    border: 2px solid #777;
    border-radius: 5px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.dialog p {
    width: 100%;
}
.dialog footer {
    position: relative;
    margin-top: 30px;
}

.post-edit {
    background: #129FEA;
    height: 25px;
    width: 25px;
    -webkit-mask:  url(../img/logo.svg) no-repeat 50% 50%;
    mask: url(../img/logo.svg) no-repeat 50% 50%;
}
.post-title {
    font-size: 1.7em;
    font-weight: bold;
    color: #333;
    margin-top: 1.5em;
}

.post-title>a,.post-title>a:hover,.post-title>a:visited {
    color: #333;
    text-decoration: none;
}
.post-title>a:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 #333;
}
.post-author {
    /*font-size: 1.2em;*/
}
.post-author:hover, .post-author:visited {
    color: rgb(61, 146, 201);
}
.post-avatar {
    border-radius: 50px;
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 1em;
}
.post-date {
    font-weight: 200;
}
.post-body {
    color: #444;
    line-height: 1.6em;
    font-weight: 200;
}
.post-body>a,.post-body>a:hover,.post-body>a:visited {
    color: #3D92C9;
    text-decoration: none;
}
.post-body img {
    max-width: 100%;
    max-height: 100%;
}
.post-meta {
    color: #999;
    font-size: 0.8em;
    line-height: 1.3em;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff!important;
    background: #999;
    font-size: 80%;
    cursor: pointer;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.fade-out {
    background-color: rgba(238,212,119,0.25);
    transition: background-color 1.5s linear;
    -moz-transition: background-color 1.5s linear;
    -webkit-transition: background-color 1.5s linear;
    -ms-transition: background-color 1.5s linear;
}

.fade-bottom {
    position: relative;
    bottom: 4em;
    height: 4em;
    margin-bottom: -2em;
    padding-top: 4em;
    color: #777;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.less {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 300px!important;
}

pre {
    background: #F9F9F9;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer ul {
    -webkit-padding-start: 0px;
}
.footer a {
    color: #777;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.dark {
    color: #333!important;
}
.grey {
    color: #999;
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

.fixed-nav {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.spacer {
    height: 1em;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center-text {
    text-align: center;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.underline:hover {
    text-decoration: underline;
}

.no-decoration, .no-decoration:hover, .no-decoration:visited {
    text-decoration: none;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.content {
    margin: 0 auto;
    padding: 0 1em;
    line-height: 1.6em;
    position: relative;
    top: 0;
    right: 0;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2em 2em 0 2em;
    top: auto;
 }
.header h1 {
    margin: 0.2em 0;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 0.8em;
}
.header h2 {
    font-weight: 300;
    color: #999;
    padding: 0;
    margin-top: 0;
}

/* NEW LAYOUT FOR MENU */
nav#global-nav {
  background-color: #333;
  bottom: 0;
  max-width: 220px;
  overflow: auto;
  position: fixed;
  top: 0;
  left: -220px;
  width: 100%;
  z-index: 9;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
body.active nav#global-nav {
  -moz-transform: translateX(220px);
  -ms-transform: translateX(220px);
  -webkit-transform: translateX(220px);
  transform: translateX(220px);
}
nav#global-nav ul {
    margin: 0;
    padding: 0;
}
nav#global-nav ul li {
    border-bottom: 1px solid #474747;
    padding: 0;
    margin: 0;
    width: 100%;
}
nav#global-nav ul li a {
    display: block;
    background-color: #474747;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 1px;
    border: 0;
    margin-right: 0;
    padding: 1em;
}
nav#global-nav ul li a:hover, nav#global-nav ul li a:focus {
  background-color: #474747;
}
nav#global-nav ul li a:active {
  color: #3D92C9;
}
nav#global-nav img {
    position: relative;
    color: #fff;
    height: 30px;
    top: 7px;
}

/* Menu button */

#menu-button {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    color: #333;
    cursor: pointer;
    display: block;
    line-height: 1;
    width: 4em;
    height: 4em;
    left: 0.5em;
    top: 0.5em;
    padding: 0;
    position: fixed;
    text-align: center;
    z-index: 8;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
#menu-button:hover, #menu-button:active {
    background: #777;

}
#menu-button span.menu-icon {
  display: block;
  pointer-events: none;
  font-size: 3em;
  text-shadow: 2px 2px 2px #333;
}
#menu-button span.menu-icon svg rect {
  fill: #333;
}
#menu-button:hover span.menu-icon svg rect {
  fill: #fff;
}
#menu-button span.menu-text {
  display: block;
  font-size: 0.8em;
  margin-top: 0.2em;
}



/* Utilities */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


@media (min-width: 48em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .blog-picture {
        display: inline;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }


    .menu-link {
        position: fixed;
    }
    #layout.active .menu-link {
        left: 150px;
    }

    .post-body {
        font-size: 125%;
    }

}

@media (max-width: 48em) {
    .header h1 {
        font-size: 1.7em;
    }
    .header h2 {
        font-size: 1.3em;
    }

    #menu-button {
        width: 3em;
        height: 3em;
    }

    article>footer {
        text-align: center;
    }
}

