@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto-light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/roboto-regular.ttf) format('truetype');
}

html {
    font-family: 'Roboto', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3D92C9;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 1em auto 2em auto;
    /*height: 300px;*/
}

.sidebar {
    background: #333;
    color: #fff;
}

.plume-logo {
    height: 1em;
}

.blog-title,
.blog-tagline,
.blog-picture {
    margin: 0;
}

.blog-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}
.blog-picture {
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* EDITOR */
.editor {
    padding-top: 1em;
    color: #444;
}
.editor-title {
    /*background-color: #ffc;*/
    font-size: 2em;
    line-height: 1em;
    min-width: 100%;
    display: block;
    padding: 0.5em 0 0.5em 0;
    border-radius: 3px;
    outline: none;
    border-bottom: 1px dotted #ccc;
}
.editor-title:focus {
    background: #ffc;
    padding-left: 10px;
}
span.editor-title:empty::before {
    content: 'Title';
    color: #ccc;
}
span.editor-title:empty:focus::before {
    content: 'Title';
    color: #777;
}
a.editor-author, a.editor-author:visited {
    color: #3D92C9;
}

.editor-body {
    margin-bottom: 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #E6E6E6;
    font-size: 1em;
    min-height: 100px;
    color: #777;
}

.button-xlarge {
    font-size: 125%;
}
.button-xsmall {
    font-size: 50%;
}
.button {
    display: inline-block;
    padding: 25px 10px 25px 10px;
    background: #42B8DD;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1px;
    text-transform: uppercase;
    border: 0;
}
.button-success {
    background: #1CB841;
    color: #fff;
}
.button:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* NAV */
.nav {
    height: 100px;
    width: 100%;
    background-color: #333;
    line-height: 60px;
    letter-spacing: 1px;
}
.nav-list {
    margin: 0;
    padding: 1em 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1.5;
}
.nav-item a {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    color: inherit;
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}
.nav-item img {
    height: 20px;
    display: inline-block;
}
.nav-item span {
    color: inherit;
    display: inline-block;
    position: relative;
    top: 20%;
    transform: translateY(-20%);
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 0 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-edit {
    background: #129FEA;
    height: 25px;
    width: 25px;
    -webkit-mask:  url(../img/logo.svg) no-repeat 50% 50%;
    mask: url(../img/logo.svg) no-repeat 50% 50%;
}
.post-title {
    font-size: 2em;
    font-weight: 200;
    color: #222;
    margin-bottom: 0.2em;
}

.post-title a,a:hover,a:visited {
    color: #333;
    text-decoration: none;
}
.post-title a:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 #333;
}
.post-author:hover, .post-author:visited {
    color: rgb(61, 146, 201);
}
.post-avatar {
    border-radius: 50px;
    float: right;
    height: 50px;
    width: 50px;
    margin-left: 1em;
}
.post-body {
    color: #444;
    line-height: 1.8em;
    padding-top: 1em;
    font-weight: 200;
}
.post-body img {
    max-width: 100%;
    max-height: 100%;
}
.post-meta {
    color: #999;
    font-size: 90%;
    line-height: 1.5em;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff!important;
    background: #999;
    font-size: 80%;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.fade-out {
    background-color: #eee;
    transition: background-color 1.5s linear;
    -moz-transition: background-color 1.5s linear;
    -webkit-transition: background-color 1.5s linear;
    -ms-transition: background-color 1.5s linear;
}

pre {
    background: #F9F9F9;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer ul {
    -webkit-padding-start: 0px;
}
.footer a {
    color: #777;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.dark {
    color: #333!important;
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

.fixed-nav {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.spacer {
    height: 1em;
}

.underline:hover {
    text-decoration: underline;
}

/* override */
.CodeMirror {
    border: 1px dotted #ccc;
}
/*.CodeMirror-cursor {
    visibility: visible!important;
}*/

@media (min-width: 48em) {
    .content {
        padding: 1em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 3em 2em 0;
        text-align: right;
    }

    .blog-picture {
        display: inline;
    }

    .fixed-nav {
        position: relative;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
